@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align to the top */
  align-items: center; /* Align horizontally */
  color: white;
  padding: 20px; /* Add some padding around */
  box-sizing: border-box; /* Include padding in width and height calculations */
}


.headshot {
  width: 150px; /* Adjust size as needed */
  height: 150px; /* Adjust size as needed */
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; /* Ensures the image covers the area without stretching */
  margin-bottom: 20px; /* Adds space between the image and the name */
}

h1 {
  font-size: 5rem; /* Adjust the size as needed */
  margin: 0;
  padding: 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation: shadow-move 1s linear infinite alternate;
}

p {
  font-size: 1.5rem; /* Adjust the size as needed */
  margin: 0;
  padding: 0;
  opacity: 0.7;
  margin-top: 0.5rem;
}

.App-header,
main,
footer {
  flex: 1; /* Distribute space evenly */
}

.project {
  border-radius: 5px;
  border: 1px solid white;
  padding: 20px;
  margin: 0; /* Ensures even margins */
  flex: 0 0 calc(33.333% - 40px); /* No grow, no shrink, basis with space for margin */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align content to the start */
  text-align: left; /* Align text to the left */
  transition: transform 0.3s ease;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  opacity: 0; /* Start elements as invisible */
  animation: fadeInUp 1s ease-out forwards;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
}


.project-background {
  width: 100%; /* Full width of the parent container */
  height: 100%; /* Full height of the parent container */
  object-fit: contain; /* Ensures the image fits within the container */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Behind the content */
}

.project-content {
  position: relative;
  z-index: 1;
  white-space: wrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.project h2 {
  font-size: 1.5rem; /* or your desired size for the title */
  margin-bottom: 0.5rem; /* Adds some space between the title and blurb */
}

.project-content h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.project-content p {
  font-size: 1rem; /* Reduce subtext size for smaller screens */
  margin-top: 0.5rem; /* Add some space between title and subtext */
  line-height: 1.5rem;
}

.project p {
  font-size: 1rem; /* or your desired size for the paragraph, smaller than the title */
  margin-top: 0; /* Removes any default margin from the top of the paragraph */
}

footer {
  /* make the footer stick to the bottom, as the project container is overlapping on top  */
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;

}

a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.bio {
  max-width: 1000vh; /* Adjust as needed */
  margin: 20px auto; /* Center it */
  font-family: "Courier New", Courier, monospace; /* Monospaced font for the typing effect */
  white-space: pre-wrap; /* Ensures line breaks */
}

/* Keyframes for animations */
@keyframes moveSideToSide {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}

/* Adjust the flex-basis within the media queries for responsiveness */
@media (max-width: 1200px) {
  .project {
    width: 30vw; /* Smaller width on medium screens */
  }
}

@media (max-width: 768px) {
  .project {
    width: 70vw; /* Full width on small screens */
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    overflow: auto; /* Re-enable scrolling for mobile*/
  }
}

@keyframes shadow-move {
  from {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  to {
    text-shadow: 0 5px 4px rgba(0, 0, 0, 0.2); 
  }
}



@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(
      20px
    ); /* Start the element 20px down from its final position */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* End at the element's final position */
  }
}

.letter {
  display: inline-block;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .project {
    flex-basis: 30%;
  }
}

@media (max-width: 768px) {
  .project {
    flex-basis: 100%;
  }

  .project-content a {
    position: static;
    bottom: 0;
    display: block;
    margin: 0 10px;
  }
}
