body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

html, body {
  overflow: hidden; /* This will disable scrolling */
  max-height: 100vh; /* Viewport height */
  max-width: 100vw; /* Viewport width */
}

